.btnd{
    background-image:url('moon-outline.svg');
    background-repeat:no-repeat;
    background-color: transparent;
    height:32px;
    width:120px;
    background-size: 20px 20px;
    position: relative;
    
}